<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:fragment="menu">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">
            <img src="images/dough.png" class="img-fluid" alt="Home">
        </a>
        <button class="navbar-toggler" ofxType="button" data-toggle="collapse" data-target="#navbarMain"
                aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Accounts</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/acctList}">Account List</a>
                        <a class="dropdown-item" th:href="@{/acctEdit}">Add Account</a>
                        <a class="dropdown-item" th:href="@{/tranEdit}">Add Transaction</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/catList}">Category List</a>
                        <a class="dropdown-item" th:href="@{/catEdit}">Add Category</a>
                        <a class="dropdown-item" th:href="@{/patternList}">Pattern List</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Data Files</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/dataFileList}">Data File List</a>
                    </div>
                </li>
                <li class="d-md-none">
                    <small class="text-light">Version:</small>
                    <small class="text-light" th:text="#{trash.version}"></small>
                </li>
            </ul>
        </div>
        <div class="d-none d-md-block">
            <small class="text-light">Version:</small>
            <small class="text-light" th:text="#{trash.version}"></small>
        </div>
    </nav>
</header>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
