<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container-fluid">
    <div th:replace="fragments/alerts::alerts"></div>
    <div class="row">
        <div class="col-md-12">
            <form id="listForm" action="#" method="post" th:action="@{/acctList}">
                <input type="hidden" class="pageNumber" name="pageNumber" th:value="${listForm.number}"/>
                <input type="hidden" class="pageSize" name="pageSize" th:value="${listForm.size}"/>
                <input type="hidden" class="sortColumn" name="sortColumn" th:value="${listForm.sortColumn}"/>
                <input type="hidden" class="sortDirection" name="sortDirection" th:value="${listForm.sortDirection}"/>
                <input type="hidden" class="currentPage" th:value="${listForm.number}"/>
                <input type="hidden" class="totalPages" th:value="${listForm.totalPages}"/>

                <span th:if="${listForm.hasPrevious()}">
                    <a class="goToFirstPage" data-list-form="listForm" href="#"><i
                            class="fa fa-angle-double-left fa-lg"></i></a>
                    &nbsp;
                    <a class="goToPreviousPage" data-list-form="listForm" href="#"><i
                            class="fa fa-angle-left fa-lg"></i></a>
                    &nbsp;
                </span>

                page <span th:text="${listForm.number} + 1"/> of <span th:text="${listForm.totalPages}"/>

                <span th:if="${listForm.hasNext()}">
                    &nbsp;
                    <a class="goToNextPage" data-list-form="listForm" href="#"><i
                            class="fa fa-angle-right fa-lg"></i></a>
                    &nbsp;
                    <a class="goToLastPage" data-list-form="listForm" href="#"><i
                            class="fa fa-angle-double-right fa-lg"></i></a>
                </span>

                &nbsp;&nbsp;&nbsp;
                page size

                <select class="changePageSize" data-list-form="listForm">
                    <option value="5" th:selected="${listForm.size} == 5">5</option>
                    <option value="10" th:selected="${listForm.size} == 10">10</option>
                    <option value="20" th:selected="${listForm.size} == 20">20</option>
                    <option value="50" th:selected="${listForm.size} == 50">50</option>
                </select>

                <table class="table table-sm table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Version</th>
                        <th>
                            <a class="changeSort" data-list-form="listForm" data-sort-column="name" href="#">Name</a>
                        </th>
                        <th>
                            <a class="changeSort" data-list-form="listForm" data-sort-column="type" href="#">Type</a>
                        </th>
                    </tr>
                    <tr th:each="acct:${listForm}">
                        <td th:text="${acct.id}"></td>
                        <td th:text="${acct.version}"></td>
                        <td th:text="${acct.name}"></td>
                        <td th:text="${acct.type}"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
