<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Account</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.id}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.name}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Type</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.type}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Address Name</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.addressName}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Address Line 1</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.address1}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Address Line 2</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.address2}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">City</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.city}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">State</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.state}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Zip Code</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.zipCode}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Phone Number</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${acct.phoneNumber}"></p>
        </div>
    </div>
    <a class="btn btn-primary" th:href="@{/acctEdit(id=${acct.id})}">Edit</a>
    <a class="btn btn-secondary" th:href="@{/acctReconcile(id=${acct.id})}">Reconcile</a>

    <h2>Statements</h2>
    <form id="listForm" action="#" method="get" th:action="@{/acct}">
        <input type="hidden" name="id" th:value="${acct.id}"/>
        <input type="hidden" class="pageNumber" name="pageNumber" th:value="${listForm.number}"/>
        <input type="hidden" class="pageSize" name="pageSize" th:value="${listForm.size}"/>
        <input type="hidden" class="sortColumn" name="sortColumn" th:value="${listForm.sortColumn}"/>
        <input type="hidden" class="sortDirection" name="sortDirection" th:value="${listForm.sortDirection}"/>
        <input type="hidden" class="currentPage" th:value="${listForm.number}"/>
        <input type="hidden" class="totalPages" th:value="${listForm.totalPages}"/>

        <span th:if="${listForm.hasPrevious()}">
            <a class="goToFirstPage" data-list-form="listForm" href="#">&lt;&lt;</a>
            &nbsp;
            <a class="goToPreviousPage" data-list-form="listForm" href="#">&lt;</a>
            &nbsp;
        </span>

        page <span th:text="${listForm.number}+1"></span> of <span th:text="${listForm.totalPages}"></span>

        <span th:if="${listForm.hasNext()}">
            &nbsp;
            <a class="goToNextPage" data-list-form="listForm" href="#">&gt;</a>
            &nbsp;
            <a class="goToLastPage" data-list-form="listForm" href="#">&gt;&gt;</a>
        </span>

        &nbsp;&nbsp;&nbsp;
        page size
        <select class="changePageSize" data-list-form="listForm">
            <option value="6" th:selected="${listForm.size}==6">6</option>
            <option value="12" th:selected="${listForm.size}==12">12</option>
            <option value="24" th:selected="${listForm.size}==24">24</option>
            <option value="48" th:selected="${listForm.size}==48">48</option>
        </select>

        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="closeDate" href="#">Close Date</a>
                    <span th:if="${listForm.sortColumn=='closeDate'}">
                        <span th:if="${listForm.ascending}">&uarr;</span>
                        <span th:if="${listForm.descending}">&darr;</span>
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stmt:${listForm}">
                <td><a th:href="@{/stmt(id=${stmt.id})}" th:text="${stmt.id}"></a></td>
                <td th:text="${stmt.closeDate}"></td>
            </tbody>
        </table>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
