<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/menu::menu"></header>
<main class="container">
    <h1>Account</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.id}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.name}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Type</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.type}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Address Name</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.addressName}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Address Line 1</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.address1}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Address Line 2</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.address2}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">City</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.city}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">State</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.state}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Zip Code</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.zipCode}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Phone Number</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.phoneNumber}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Credit Limit</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatCurrency(view.creditLimit)}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Organization</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.ofxOrganization}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">FID</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.ofxFid}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Bank Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.ofxBankId}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Account Number</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.number}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Effective Date</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(view.effDate,'M/d/yyyy')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Last Tran</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(view.lastTranDate,'M/d/yyyy')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Balance</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatCurrency(view.balance)}"></p>
        </div>
    </div>

    <div th:unless="${view.oldAcctNbrs.empty}">
        <h2>Old Account Numbers</h2>
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Account Number</th>
                <th>Effective Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="oldAcctNbr:${view.oldAcctNbrs}">
                <td th:text="${oldAcctNbr.id}"></td>
                <td th:text="${oldAcctNbr.number}"></td>
                <td th:text="${#dates.format(oldAcctNbr.effDate,'M/d/yyyy')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" th:href="@{/acctEdit(id=${view.id})}">Edit</a>
    <a class="btn btn-secondary" th:href="@{/acctBalance(id=${view.id})}">Balances</a>
    <a class="btn btn-secondary" th:href="@{/stmtReconcile(id=${view.currentStmtId})}">Reconcile</a>

    <h2>Statements</h2>
    <form id="listForm" action="#" method="get" th:action="@{/acct}">
        <input type="hidden" name="id" th:value="${view.id}"/>
        <input type="hidden" class="pageNumber" name="pageNumber" th:value="${listForm.number}"/>
        <input type="hidden" class="pageSize" name="pageSize" th:value="${listForm.size}"/>
        <input type="hidden" class="sortColumn" name="sortColumn" th:value="${listForm.sortColumn}"/>
        <input type="hidden" class="sortDirection" name="sortDirection" th:value="${listForm.sortDirection}"/>
        <input type="hidden" class="currentPage" th:value="${listForm.number}"/>
        <input type="hidden" class="totalPages" th:value="${listForm.totalPages}"/>

        <span th:if="${listForm.hasPrevious()}">
            <a class="goToFirstPage" data-list-form="listForm" href="#"><i class="fas fa-angle-double-left"></i></a>
            &nbsp;
            <a class="goToPreviousPage" data-list-form="listForm" href="#"><i class="fas fa-angle-left"></i></a>
            &nbsp;
        </span>

        page <span th:text="${listForm.number}+1"></span> of <span th:text="${listForm.totalPages}"></span>

        <span th:if="${listForm.hasNext()}">
            &nbsp;
            <a class="goToNextPage" data-list-form="listForm" href="#"><i class="fas fa-angle-right"></i></a>
            &nbsp;
            <a class="goToLastPage" data-list-form="listForm" href="#"><i class="fas fa-angle-double-right"></i></a>
        </span>

        &nbsp;&nbsp;&nbsp;
        page size
        <select class="changePageSize" data-list-form="listForm">
            <option value="6" th:selected="${listForm.size}==6">6</option>
            <option value="12" th:selected="${listForm.size}==12">12</option>
            <option value="24" th:selected="${listForm.size}==24">24</option>
            <option value="48" th:selected="${listForm.size}==48">48</option>
        </select>

        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Open Balance</th>
                <th>Credits</th>
                <th>Debits</th>
                <th>Fees</th>
                <th>Interest</th>
                <th>Close Balance</th>
                <th>Minimum Due</th>
                <th>Due Date</th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="closeDate" href="#">
                        Close Date
                        <span th:if="${listForm.sortColumn=='closeDate'}">
                            <span th:if="${listForm.ascending}"><i class="fas fa-caret-up"></i></span>
                            <span th:if="${listForm.descending}"><i class="fas fa-caret-down"></i></span>
                        </span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row:${listForm.rows}">
                <td><a th:href="@{/stmt(id=${row.id})}" th:text="${row.id}"></a></td>
                <td th:text="${#numbers.formatCurrency(row.openBalance)}"></td>
                <td th:text="${#numbers.formatCurrency(row.credits)}"></td>
                <td th:text="${#numbers.formatCurrency(row.debits)}"></td>
                <td th:text="${#numbers.formatCurrency(row.fees)}"></td>
                <td th:text="${#numbers.formatCurrency(row.interest)}"></td>
                <td th:text="${#numbers.formatCurrency(row.closeBalance)}"></td>
                <td th:text="${#numbers.formatCurrency(row.minimumDue)}"></td>
                <td th:text="${#dates.format(row.dueDate,'M/d/yyyy')}"></td>
                <td th:text="${#dates.format(row.closeDate,'M/d/yyyy')}"></td>
            </tbody>
        </table>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
