<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/menu::menu"></header>
<main class="container">
    <h1>Account Balances</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.id}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.name}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Type</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.type}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Credit Limit</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatCurrency(view.creditLimit)}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Acct Number</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.number}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Effective</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(view.effDate,'M/d/yyyy')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Balance</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatCurrency(view.balance)}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Last Tran</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(view.lastTranDate,'M/d/yyyy')}"></p>
        </div>
    </div>

    <h2>Transactions</h2>
    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Post Date</th>
            <th>Stmt Close</th>
            <th>Check Number</th>
            <th>Name</th>
            <th>Memo</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row:${rows}">
            <td><a th:href="@{/tran(id=${row.id})}" th:text="${row.id}"></a></td>
            <td th:text="${row.type}"></td>
            <td th:text="${#dates.format(row.postDate,'M/d/yyyy')}"></td>
            <td><a th:href="@{/stmt(id=${row.stmtId})}" th:text="${#dates.format(row.stmtCloseDate,'M/d/yyyy')}"></a>
            </td>
            <td th:text="${row.checkNumber}"></td>
            <td th:text="${row.name}"></td>
            <td th:text="${row.memo}"></td>
            <td><a th:if="${row.catId}!=null" th:href="@{/cat(id=${row.catId})}" th:text="${row.catName}"></a></td>
            <td th:text="${#numbers.formatCurrency(row.amount)}"></td>
            <td th:text="${#numbers.formatCurrency(row.balance)}"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
