<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Account</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${cat.id}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${cat.name}"></p>
        </div>
    </div>
    <a class="btn btn-primary" th:href="@{/catEdit(id=${cat.id})}">Edit</a>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
