<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/menu::menu"></header>
<main class="container">
    <h1>Data
        <small class="text-muted">parsed</small>
    </h1>
    <div th:replace="fragments/alerts::alerts"></div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.id}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Original Filename</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.originalFilename}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Upload Timestamp</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(view.uploadTimestamp,'M/d/yyyy H:m:s')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Status</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.status}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Organization</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.organization}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">FID</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.fid}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Bank Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.bankId}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Account Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.acctId}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Account Type</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.type}"></p>
        </div>
    </div>


    <a class="btn btn-primary" th:if="${view.status==T(norman.trash.domain.DataFileStatus).PARSED}"
       th:href="@{/dataAcctMatch(id=${view.id})}">Match Account</a>

    <h2>Data Trans</h2>
    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Post Date</th>
            <th>Amount</th>
            <th>Check Number</th>
            <th>Name</th>
            <th>Memo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row:${rows}">
            <td th:text="${row.id}"></td>
            <td th:text="${row.type}"></td>
            <td th:text="${row.postDate}"></td>
            <td th:text="${row.amount}"></td>
            <td th:text="${row.checkNumber}"></td>
            <td th:text="${row.name}"></td>
            <td th:text="${row.memo}"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
