<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/menu::menu"></header>
<main class="container">
    <h1>Data
        <small class="text-muted">uploaded</small>
    </h1>
    <div th:replace="fragments/alerts::alerts"></div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.id}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Original Filename</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.originalFilename}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Upload Timestamp</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(view.uploadTimestamp,'M/d/yyyy H:m:s')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Status</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.status}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Content Type</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.contentType}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Size</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatInteger(view.size,1,'DEFAULT')}"></p>
        </div>
    </div>

    <a class="btn btn-primary" th:if="${view.status==T(norman.trash.domain.DataFileStatus).UPLOADED}"
       th:href="@{/dataParse(id=${view.id})}">Parse</a>

    <h2>Data Lines</h2>
    <form id="listForm" action="#" method="get" th:action="@{/dataUploaded}">
        <input type="hidden" name="id" th:value="${view.id}"/>
        <input type="hidden" class="pageNumber" name="pageNumber" th:value="${listForm.number}"/>
        <input type="hidden" class="pageSize" name="pageSize" th:value="${listForm.size}"/>
        <input type="hidden" class="sortColumn" name="sortColumn" th:value="${listForm.sortColumn}"/>
        <input type="hidden" class="sortDirection" name="sortDirection" th:value="${listForm.sortDirection}"/>
        <input type="hidden" class="currentPage" th:value="${listForm.number}"/>
        <input type="hidden" class="totalPages" th:value="${listForm.totalPages}"/>

        <span th:if="${listForm.hasPrevious()}">
            <a class="goToFirstPage" data-list-form="listForm" href="#"><i class="fas fa-angle-double-left"></i></a>
            &nbsp;
            <a class="goToPreviousPage" data-list-form="listForm" href="#"><i class="fas fa-angle-left"></i></a>
            &nbsp;
        </span>

        page <span th:text="${listForm.number}+1"></span> of <span th:text="${listForm.totalPages}"></span>

        <span th:if="${listForm.hasNext()}">
            &nbsp;
            <a class="goToNextPage" data-list-form="listForm" href="#"><i class="fas fa-angle-right"></i></a>
            &nbsp;
            <a class="goToLastPage" data-list-form="listForm" href="#"><i class="fas fa-angle-double-right"></i></a>
        </span>

        &nbsp;&nbsp;&nbsp;
        page size
        <select class="changePageSize" data-list-form="listForm">
            <option value="5" th:selected="${listForm.size}==5">5</option>
            <option value="10" th:selected="${listForm.size}==10">10</option>
            <option value="20" th:selected="${listForm.size}==20">20</option>
            <option value="50" th:selected="${listForm.size}==50">50</option>
        </select>

        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="seq" href="#">
                        Seq
                        <span th:if="${listForm.sortColumn=='seq'}">
                            <span th:if="${listForm.ascending}"><i class="fas fa-caret-up"></i></span>
                            <span th:if="${listForm.descending}"><i class="fas fa-caret-down"></i></span>
                        </span>
                    </a>
                </th>
                <th>Text</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row:${listForm.rows}">
                <td th:text="${row.id}"></td>
                <td th:text="${row.seq}"></td>
                <td th:text="${row.text}"></td>
            </tr>
            </tbody>
        </table>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
