<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/menu::menu"></header>
<main class="container">
    <h1>Data File
        <small class="text-muted">(parsed)</small>
    </h1>
    <div th:replace="fragments/alerts::alerts"></div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.id}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Original Filename</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.originalFilename}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Upload Timestamp</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(view.uploadTimestamp,'M/d/yyyy H:m:s')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Status</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.status}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Organization</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.ofxOrganization}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">FID</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.ofxFid}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Bank Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.ofxBankId}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Account Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.ofxAcctId}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Account Type</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.ofxType}"></p>
        </div>
    </div>

    <p>Data has been uploaded and it cannot be determined unambiguously which account it belongs to.</p>
    <p>Maybe one of the following accounts has changed it's account number. If so, please select that account.</p>
    <p>Maybe it one of the following accounts which have no FID. If so, please select that account.</p>
    <p>Maybe it's a completely new account. If so, please click here.</p>

    <a class="btn btn-primary" th:if="${view.status==T(norman.trash.domain.DataFileStatus).PARSED}"
       th:href="@{/dataAcctMatch(id=${view.id})}">Match Account</a>
    <a class="btn btn-secondary" th:unless="${view.status==T(norman.trash.domain.DataFileStatus).PARSED}"
       th:href="@{/dataAcctMatched(id=${view.id})}">Matched Account</a>

    <h2>Data Trans</h2>
    <form id="listForm" action="#" method="get" th:action="@{/dataParsed}">
        <input ofxType="hidden" ofxName="id" th:value="${view.id}"/>
        <input ofxType="hidden" class="pageNumber" ofxName="pageNumber" th:value="${listForm.number}"/>
        <input ofxType="hidden" class="pageSize" ofxName="pageSize" th:value="${listForm.size}"/>
        <input ofxType="hidden" class="sortColumn" ofxName="sortColumn" th:value="${listForm.sortColumn}"/>
        <input ofxType="hidden" class="sortDirection" ofxName="sortDirection" th:value="${listForm.sortDirection}"/>
        <input ofxType="hidden" class="currentPage" th:value="${listForm.number}"/>
        <input ofxType="hidden" class="totalPages" th:value="${listForm.totalPages}"/>

        <span th:if="${listForm.hasPrevious()}">
            <a class="goToFirstPage" data-list-form="listForm" href="#"><i class="fas fa-angle-double-left"></i></a>
            &nbsp;
            <a class="goToPreviousPage" data-list-form="listForm" href="#"><i class="fas fa-angle-left"></i></a>
            &nbsp;
        </span>

        page <span th:text="${listForm.number}+1"></span> of <span th:text="${listForm.totalPages}"></span>

        <span th:if="${listForm.hasNext()}">
            &nbsp;
            <a class="goToNextPage" data-list-form="listForm" href="#"><i class="fas fa-angle-right"></i></a>
            &nbsp;
            <a class="goToLastPage" data-list-form="listForm" href="#"><i class="fas fa-angle-double-right"></i></a>
        </span>

        &nbsp;&nbsp;&nbsp;
        page size
        <select class="changePageSize" data-list-form="listForm">
            <option value="5" th:selected="${listForm.size}==5">5</option>
            <option value="10" th:selected="${listForm.size}==10">10</option>
            <option value="20" th:selected="${listForm.size}==20">20</option>
            <option value="50" th:selected="${listForm.size}==50">50</option>
        </select>

        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="ofxType" href="#">
                        Type
                        <span th:if="${listForm.sortColumn=='ofxType'}">
                            <span th:if="${listForm.ascending}"><i class="fas fa-caret-up"></i></span>
                            <span th:if="${listForm.descending}"><i class="fas fa-caret-down"></i></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="ofxPostDate" href="#">
                        Post Date
                        <span th:if="${listForm.sortColumn=='ofxPostDate'}">
                            <span th:if="${listForm.ascending}"><i class="fas fa-caret-up"></i></span>
                            <span th:if="${listForm.descending}"><i class="fas fa-caret-down"></i></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="ofxAmount" href="#">
                        Amount
                        <span th:if="${listForm.sortColumn=='ofxAmount'}">
                            <span th:if="${listForm.ascending}"><i class="fas fa-caret-up"></i></span>
                            <span th:if="${listForm.descending}"><i class="fas fa-caret-down"></i></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="ofxCheckNumber" href="#">
                        Check Number
                        <span th:if="${listForm.sortColumn=='ofxCheckNumber'}">
                            <span th:if="${listForm.ascending}"><i class="fas fa-caret-up"></i></span>
                            <span th:if="${listForm.descending}"><i class="fas fa-caret-down"></i></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="ofxName" href="#">
                        Name
                        <span th:if="${listForm.sortColumn=='ofxName'}">
                            <span th:if="${listForm.ascending}"><i class="fas fa-caret-up"></i></span>
                            <span th:if="${listForm.descending}"><i class="fas fa-caret-down"></i></span>
                        </span>
                    </a>
                </th>
                <th>Memo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row:${listForm.rows}">
                <td th:text="${row.id}"></td>
                <td th:text="${row.ofxType}"></td>
                <td th:text="${#dates.format(row.ofxPostDate,'M/d/yyyy')}"></td>
                <td th:text="${#numbers.formatCurrency(row.ofxAmount)}"></td>
                <td th:text="${row.ofxCheckNumber}"></td>
                <td th:text="${row.ofxName}"></td>
                <td th:text="${row.ofxMemo}"></td>
            </tr>
            </tbody>
        </table>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
