<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/menu::menu"></header>
<main class="container-fluid">
    <div th:replace="fragments/alerts::alerts"></div>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Credit Limit</th>
                    <th>Balance</th>
                    <th>Last Tran</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="acctRow:${acctRows}">
                    <td><a th:href="@{/acct(id=${acctRow.id})}" th:text="${acctRow.name}"></a></td>
                    <td th:text="${acctRow.type}"></td>
                    <td th:text="${#numbers.formatCurrency(acctRow.creditLimit)}"></td>
                    <td th:text="${#numbers.formatCurrency(acctRow.balance)}"></td>
                    <td th:text="${#dates.format(acctRow.lastTranDate,'M/d/yyyy')}"></td>
                </tr>
                </tbody>
            </table>

            <form class="form-inline" th:action="@{/dataUpload}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="multipartFile">File to upload</label>
                    <input type="file" class="form-control-file" id="multipartFile" name="multipartFile"/></td>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>

        <div class="col-md-7">
            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th>Some Text</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="line:${lines}">
                    <td th:text="${line}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
