<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Category Pattern List</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <form th:action="@{/patternEdit}" th:object="${patternForm}" method="post">
        <ul class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
            <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
        </ul>
        <table class="table table-sm table-striped">
            <tr>
                <th>Actions</th>
                <th>Seq</th>
                <th>Tran Name</th>
                <th>Category</th>
            </tr>
            <tr th:each="patternRow,iterStat:*{patternRows}">
                <td>
                    <input type="hidden" th:field="*{patternRows[__${iterStat.index}__].id}"/>
                    <input type="hidden" th:field="*{patternRows[__${iterStat.index}__].version}"/>
                    <span class="oi oi-data-transfer-upload text-secondary" title="Move to top"
                          th:if="${iterStat.first}"></span>
                    <a href="#" th:unless="${iterStat.first}"><span class="oi oi-data-transfer-upload"
                                                                    title="Move to top"></span></a>
                    <span class="oi oi-arrow-top text-secondary" title="Move up" th:if="${iterStat.first}"></span>
                    <a href="#" th:unless="${iterStat.first}"><span class="oi oi-arrow-top" title="Move up"></span></a>
                    <span class="oi oi-arrow-bottom text-secondary" title="Move down" th:if="${iterStat.last}"></span>
                    <a href="#" th:unless="${iterStat.last}"><span class="oi oi-arrow-bottom" title="Move down"></span></a>
                    <span class="oi oi-data-transfer-download text-secondary" title="Move to bottom"
                          th:if="${iterStat.last}"></span>
                    <a href="#" th:unless="${iterStat.last}"><span class="oi oi-data-transfer-download"
                                                                   title="Move to bottom"></span></a>
                    <a href="#"><span class="oi oi-trash" title="Remove"></span></a>
                </td>
                <td th:text="${iterStat.count}"></td>
                <td><input type="text" class="form-control" th:field="*{patternRows[__${iterStat.index}__].tranName}"
                           th:errorclass="is-invalid"/></td>
                <td><select class="form-control" th:field="*{patternRows[__${iterStat.index}__].categoryId}"
                            th:errorclass="is-invalid">
                    <option value="">Please select ...</option>
                    <option th:each="category:${allCategories}" th:value="${category.id}"
                            th:text="${category.name}"></option>
                </select></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>