<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Patterns Edit</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <form th:action="@{/patternEdit}" th:object="${patternForm}" method="post">
        <ul class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
            <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
        </ul>
        <input type="hidden" th:field="*{catMap}"/>
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Actions</th>
                <th>Sequence</th>
                <th>Regular Expression</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patternRow,iterStat:*{patternRows}">
                <td>
                    <input type="hidden" th:field="*{patternRows[__${iterStat.index}__].id}"/>
                    <input type="hidden" th:field="*{patternRows[__${iterStat.index}__].version}"/>
                    <a><i class="fas fa-angle-double-up" title="Move to top"></i></i></a>
                    <a><i class="fas fa-angle-up" title="Move up"></i></i></a>
                    <a><i class="fas fa-angle-down" title="Move down"></i></a>
                    <a><i class="fas fa-angle-double-down" title="Move to bottom"></i></a>
                    <a><i class="fas fa-ban" title="Delete"></i></a>
                </td>
                <td th:text="${iterStat.count}"></td>
                <td>
                    <input type="text" class="form-control" th:field="*{patternRows[__${iterStat.index}__].regex}"
                           th:errorclass="is-invalid"/>
                </td>
                <td>
                    <select class="form-control" th:field="*{patternRows[__${iterStat.index}__].catId}"
                            th:errorclass="is-invalid">
                        <option value="">select</option>
                        <option th:each="cat:${allCats}" th:value="${cat.id}" th:text="${cat.name}"></option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary">Add</button>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
<script src="js/patternEdit.js"></script>
</body>
</html>