<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<main class="container">
    <h1>Statement</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.id}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Account</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.acctName}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Close Date</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.closeDate}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Debits</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.debitAmount}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Credits</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.creditAmount}"></p>
        </div>
    </div>

    <h2>Transactions</h2>
    <form id="listForm" action="#" method="get" th:action="@{/stmt}">
        <input type="hidden" name="id" th:value="${view.id}"/>
        <input type="hidden" class="pageNumber" name="pageNumber" th:value="${listForm.number}"/>
        <input type="hidden" class="pageSize" name="pageSize" th:value="${listForm.size}"/>
        <input type="hidden" class="sortColumn" name="sortColumn" th:value="${listForm.sortColumn}"/>
        <input type="hidden" class="sortDirection" name="sortDirection" th:value="${listForm.sortDirection}"/>
        <input type="hidden" class="currentPage" th:value="${listForm.number}"/>
        <input type="hidden" class="totalPages" th:value="${listForm.totalPages}"/>

        <span th:if="${listForm.hasPrevious()}">
            <a class="goToFirstPage" data-list-form="listForm" href="#"><i class="fas fa-angle-double-left"></i></a>
            &nbsp;
            <a class="goToPreviousPage" data-list-form="listForm" href="#"><i class="fas fa-angle-left"></i></a>
            &nbsp;
        </span>

        page <span th:text="${listForm.number}+1"></span> of <span th:text="${listForm.totalPages}"></span>

        <span th:if="${listForm.hasNext()}">
            &nbsp;
            <a class="goToNextPage" data-list-form="listForm" href="#"><i class="fas fa-angle-right"></i></a>
            &nbsp;
            <a class="goToLastPage" data-list-form="listForm" href="#"><i class="fas fa-angle-double-right"></i></a>
        </span>

        &nbsp;&nbsp;&nbsp;
        page size
        <select class="changePageSize" data-list-form="listForm">
            <option value="10" th:selected="${listForm.size}==10">10</option>
            <option value="20" th:selected="${listForm.size}==20">20</option>
            <option value="50" th:selected="${listForm.size}==50">50</option>
            <option value="100" th:selected="${listForm.size}==100">100</option>
        </select>

        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>This Account</th>
                <th>Other Account</th>
                <th>Category</th>
                <th>
                    <a class="changeSort" data-list-form="listForm" data-sort-column="postDate" href="#">
                        Post Date
                        <span th:if="${listForm.sortColumn=='postDate'}">
                            <span th:if="${listForm.ascending}"><i class="fas fa-caret-up"></i></span>
                            <span th:if="${listForm.descending}"><i class="fas fa-caret-down"></i></span>
                        </span>
                    </a>
                </th>
                <th>Amount</th>
                <th>Check Number</th>
                <th>Name</th>
                <th>Memo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row:${listForm.rows}">
                <td><a th:href="@{/tran(id=${row.id})}" th:text="${row.id}"></a></td>
                <td th:text="${row.viewingAcctName}"></td>
                <td th:text="${row.otherAcctName}"></td>
                <td th:text="${row.catName}"></td>
                <td th:text="${row.postDate}"></td>
                <td th:text="${row.amount}"></td>
                <td th:text="${row.checkNumber}"></td>
                <td th:text="${row.name}"></td>
                <td th:text="${row.memo}"></td>
            </tbody>
        </table>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
