<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/menu::menu"></header>
<main class="container">
    <h1>Statement Reconcile</h1>
    <div th:replace="fragments/alerts::alerts"></div>
    <form th:action="@{/stmtReconcile}" th:object="${stmtReconcileForm}" method="post">
        <ul class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
            <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
        </ul>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <input type="hidden" th:field="*{ofxAcctId}"/>
        <input type="hidden" th:field="*{name}"/>
        <input type="hidden" th:field="*{ofxType}"/>
        <input type="hidden" th:field="*{cc}"/>
        <input type="hidden" th:field="*{billOrCc}"/>

        <div th:if="*{cc}" class="form-group row">
            <label class="col-sm-3 col-form-label">Opening Balance</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{openBalance}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div th:if="*{cc}" class="form-group row">
            <label class="col-sm-3 col-form-label">Payments And Other Credits</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{credits}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div th:if="*{cc}" class="form-group row">
            <label class="col-sm-3 col-form-label">Purchases And Adjustments</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{debits}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div th:if="*{cc}" class="form-group row">
            <label class="col-sm-3 col-form-label">Fees Charged</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{fees}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div th:if="*{cc}" class="form-group row">
            <label class="col-sm-3 col-form-label">Interest Charged</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{interest}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Closing Balance</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{closeBalance}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div th:if="*{cc}" class="form-group row">
            <label class="col-sm-3 col-form-label">Minimum Payment Due</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{minimumDue}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div th:if="*{billOrCc}" class="form-group row">
            <label class="col-sm-3 col-form-label">Payment Due Date</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{dueDate}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Statement Closing Date</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{closeDate}" th:errorclass="is-invalid"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Reconcile</button>

        <h2>Transactions</h2>
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Category</th>
                <th>Post Date</th>
                <th>Amount</th>
                <th>Check</th>
                <th>Name</th>
                <th>Memo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stmtReconcileRow,iterStat:*{stmtReconcileRows}">
                <td>
                    <input type="hidden" th:field="*{stmtReconcileRows[__${iterStat.index}__].ofxType}"/>
                    <input type="hidden" th:field="*{stmtReconcileRows[__${iterStat.index}__].id}"/>
                    <input type="hidden" th:field="*{stmtReconcileRows[__${iterStat.index}__].version}"/>
                    <input type="hidden" th:field="*{stmtReconcileRows[__${iterStat.index}__].debitStmtId}"/>
                    <input type="hidden" th:field="*{stmtReconcileRows[__${iterStat.index}__].creditStmtId}"/>
                    <input type="hidden" th:field="*{stmtReconcileRows[__${iterStat.index}__].ofxPostDate}"/>
                    <input type="hidden" th:field="*{stmtReconcileRows[__${iterStat.index}__].ofxAmount}"/>
                    <input type="hidden" th:field="*{stmtReconcileRows[__${iterStat.index}__].ofxCheckNumber}"/>
                    <input type="hidden" th:field="*{stmtReconcileRows[__${iterStat.index}__].name}"/>
                    <input type="hidden" th:field="*{stmtReconcileRows[__${iterStat.index}__].ofxMemo}"/>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input"
                               th:field="*{stmtReconcileRows[__${iterStat.index}__].selected}"/>
                    </div>
                </td>
                <td>
                    <select class="form-control" th:field="*{stmtReconcileRows[__${iterStat.index}__].catId}"
                            th:errorclass="is-invalid">
                        <option class="placeholder" value="">select</option>
                        <option th:each="cat:${allCats}" th:value="${cat.id}" th:text="${cat.name}"></option>
                    </select>
                </td>
                <td th:text="${#dates.format(stmtReconcileRow.ofxPostDate,'M/d/yyyy')}"></td>
                <td th:text="${stmtReconcileRow.ofxAmount}"></td>
                <td th:text="${stmtReconcileRow.ofxCheckNumber}"></td>
                <td th:text="${stmtReconcileRow.name}"></td>
                <td th:text="${stmtReconcileRow.ofxMemo}"></td>
            </tr>
            </tbody>
        </table>
    </form>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
