<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/menu::menu"></header>
<main class="container">
    <h1>Transaction</h1>
    <div th:replace="fragments/alerts::alerts"></div>


    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.id}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Account</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext"><a th:href="@{/acct(id=${view.acctId})}" th:text="${view.acctName}"></a>
            </p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Statement Close Date</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext"><a th:href="@{/stmt(id=${view.stmtId})}"
                                                 th:text="${#dates.format(view.stmtCloseDate,'M/d/yyyy')}"></a></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Post Date</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#dates.format(view.postDate,'M/d/yyyy')}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Amount</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${#numbers.formatCurrency(view.amount)}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Check Number</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.checkNumber}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.name}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Memo</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.memo}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">FIT Id</label>
        <div class="col-sm-9">
            <p class="form-control-plaintext" th:text="${view.ofxFitId}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Category</label>
        <div class="col-sm-9">
            <p th:if="${view.catId}!=null" class="form-control-plaintext"><a
                    th:href="@{/cat(id=${view.catId})}"
                    th:text="${view.catName}"></a></p>
        </div>
    </div>
    <a class="btn btn-primary" th:href="@{/tranEdit(id=${view.id})}">Edit</a>
</main>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
